/* 
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  additionally, much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article.post, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article.post, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */


/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
          Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages

There are three custom edits:
 * remove arial, helvetica from explicit font stack
 * make the line-height relative and unit-less
 * remove the pre, code styles
*/
body { font:13px Uni-Sans-Regular; *font-size:small; *font:x-small; line-height:1.22; }

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% sans-serif; }


/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 


/* 
 * minimal base styles 
 */


/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
body, select, input, textarea { color:#444; }

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
 
/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */

a, a:active, a:visited { font-family: Uni-Sans-SemiBold; text-decoration: none; color:#eb7737; }
a:hover { color:#eb7737; text-decoration: underline;}


ul { }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
textarea, input{ outline:none;}

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #F3792C; color:#fff; text-shadow: none; }
::selection { background:#F3792C; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #F3792C; } 


/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

 /* Primary Styles
    Author: 
 */



/**************************************************
 * Generic Styles across all pages
 **************************************************/
 html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body p {
  line-height: 24px;
}
.home #container {
  margin-bottom: -260px;
}
#container {
  margin: 0 auto;
  width: 900px;
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -260px;
}

/**
 * For Sticky Footer
 */
#push {
  height: 176px;
}


body {
  background: url(images/background.png) repeat;
  color: #464646;
  font-family: Uni-Sans-Regular, Verdana, sans-serif;
}

body.home #content-container {
  margin-top: -150px;
}

#content {
  position: relative;
  padding-bottom: 1px;
}

/* MIGHT NOT NEED */
/*#main, #content {
  width: 760px;
  margin: 0 auto;
  -webkit-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
     -moz-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
      -ms-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
       -o-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
          transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
}*/

h1 {} /* Reserved for Logo */

h2,
h3,
h4 {
  font-family: 'Uni-Sans-Bold', 'Verdana', 'sans-serif';
  font-size: 17px;
  font-weight: normal;
}

h4 {
  color: #f3792c;
  font-weight: normal;
}
h5 {
  color: #939393;
  font-size: 17px;
  margin-left: 0px;
}
h2,
h2 a,
h2 a:visited,
h2 a:active  {
  font-family: 'Uni-Sans-Book', 'Verdana', 'sans-serif';
  font-size: 30px;
  color: #474747;
  text-transform: uppercase;
  text-decoration: none;
}

h2 a:hover {
  color: #ffa736;
  text-shadow: 0 0 3px rgba(153,153,153, .5);
}
h4 {
  color: #474747;
  font-family: 'Uni-Sans-Book', 'Verdana', 'sans-serif';
  font-size: 28px;
  line-height: 31px;

}
h3 {
  color: #464646;
}

/***************************************************
 * LINKS 
 ***************************************************/
a, 
a:active, 
a:visited { 
  font-family: Uni-Sans-Regular; 
  text-decoration: none; 
  color:#eb7737; 
}
a:hover { color:#eb7737; text-decoration: none;}
a:active,
input[type="submit"]:active {
  position: relative;
  top: 1px;
}
/**************************************************
 * Buttons
 * All gradients generated via http://www.colorzilla.com/gradient-editor/ 
 **************************************************/
.btn,
.comment-reply-link  {
  display: block;
  font-family: Uni-Sans-Regular;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(255,255,255,.8);
  -webkit-box-shadow: 0 1px 1px 0 rbga(255,255,255, .75);
     -moz-box-shadow: 0 1px 1px 0 rbga(255,255,255, .75);
      -ms-box-shadow: 0 1px 1px 0 rbga(255,255,255, .75);
       -o-box-shadow: 0 1px 1px 0 rbga(255,255,255, .75);
          box-shadow: 0 1px 1px 0 rbga(255,255,255, .75);
  behavior: url(/wp-content/themes/dekko/js/PIE/PIE.htc);
  
}
.comment-reply-link {
  display: inline-block;
}
.btn.small,
.comment-reply-link  {
  font-size: 14px;
  height: 25px;
  line-height: 27px;
  padding: 0 12px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}
.btn:active {
  font-family: Uni-Sans-Regular;
}
.btn.grey,
.comment-reply-link,
.comment-reply-link:visited  {
  border: 1px solid #ababab;
  color: #5d5d5d;
  background: #f1f1ee;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOWQ5ZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f1f1ee 0%, #d9d9d9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1ee), color-stop(100%,#d9d9d9));
background: -webkit-linear-gradient(top,  #f1f1ee 0%,#d9d9d9 100%);
background: -o-linear-gradient(top,  #f1f1ee 0%,#d9d9d9 100%);
background: -ms-linear-gradient(top,  #f1f1ee 0%,#d9d9d9 100%);
background: linear-gradient(top,  #f1f1ee 0%,#d9d9d9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1ee', endColorstr='#d9d9d9',GradientType=0 );

/*  background: #d9d9d9;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZDlkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYxZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #d9d9d9 0%, #f1f1ee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d9), color-stop(100%,#f1f1ee));
  background: -webkit-linear-gradient(top,  #d9d9d9 0%,#f1f1ee 100%);
  background: -o-linear-gradient(top,  #d9d9d9 0%,#f1f1ee 100%);
  background: -ms-linear-gradient(top,  #d9d9d9 0%,#f1f1ee 100%);
  background: linear-gradient(top,  #d9d9d9 0%,#f1f1ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#f1f1ee',GradientType=0 );*/
 }
 .btn.grey:hover,
 .comment-reply-link:hover {
  color: #5d5d5d;
  -webkit-box-shadow: 0px 1px 4px 0 rgba(153,153,153,.8);
     -moz-box-shadow: 0px 1px 4px 0 rgba(153,153,153,.8);
      -ms-box-shadow: 0px 1px 4px 0 rgba(153,153,153,.8);
       -o-box-shadow: 0px 1px 4px 0 rgba(153,153,153,.8);
          box-shadow: 0px 1px 4px 0 rgba(153,153,153,.8);
 }
.btn.orange,
.btn.active {
  border: 1px solid #bf8763;
  color: #ba5b1f;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYjI4MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYxYzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #feb281 0%, #fff1c6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb281), color-stop(100%,#fff1c6));
  background: -webkit-linear-gradient(top,  #feb281 0%,#fff1c6 100%);
  background: -o-linear-gradient(top,  #feb281 0%,#fff1c6 100%);
  background: -ms-linear-gradient(top,  #feb281 0%,#fff1c6 100%);
  background: linear-gradient(top,  #feb281 0%,#fff1c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb281', endColorstr='#fff1c6',GradientType=0 );
/*background: #fff1c6;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjFjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWIyODEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fff1c6 0%, #feb281 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff1c6), color-stop(100%,#feb281));
background: -webkit-linear-gradient(top,  #fff1c6 0%,#feb281 100%);
background: -o-linear-gradient(top,  #fff1c6 0%,#feb281 100%);
background: -ms-linear-gradient(top,  #fff1c6 0%,#feb281 100%);
background: linear-gradient(top,  #fff1c6 0%,#feb281 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff1c6', endColorstr='#feb281',GradientType=0 );*/

 }

.btn.orange:hover,
.btn.active:hover {

/*    background: #feb281;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYjI4MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYxYzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #feb281 0%, #fff1c6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb281), color-stop(100%,#fff1c6));
  background: -webkit-linear-gradient(top,  #feb281 0%,#fff1c6 100%);
  background: -o-linear-gradient(top,  #feb281 0%,#fff1c6 100%);
  background: -ms-linear-gradient(top,  #feb281 0%,#fff1c6 100%);
  background: linear-gradient(top,  #feb281 0%,#fff1c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb281', endColorstr='#fff1c6',GradientType=0 );*/

  -webkit-box-shadow: 0px 1px 4px 0 rgba(153,153,153,.8);
     -moz-box-shadow: 0px 1px 4px 0 rgba(153,153,153,.8);
      -ms-box-shadow: 0px 1px 4px 0 rgba(153,153,153,.8);
       -o-box-shadow: 0px 1px 4px 0 rgba(153,153,153,.8);
          box-shadow: 0px 1px 4px 0 rgba(153,153,153,.8);
 }
 .btn.orange:active {
/*
background: #feb281;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYjI4MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYxYzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #feb281 0%, #fff1c6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb281), color-stop(100%,#fff1c6));
background: -webkit-linear-gradient(top,  #feb281 0%,#fff1c6 100%);
background: -o-linear-gradient(top,  #feb281 0%,#fff1c6 100%);
background: -ms-linear-gradient(top,  #feb281 0%,#fff1c6 100%);
background: linear-gradient(top,  #feb281 0%,#fff1c6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb281', endColorstr='#fff1c6',GradientType=0 );
*/
 }
/**************************************************
 * Header
 **************************************************/
#logo {
  position: relative;
}
/*#logo span {
  display: none;
  font-family: Uni-Sans-SemiBold;
}
#logo:hover span,
#logo.active span {
  position: absolute;
  left: 116px;
  top: 57px;
  width: 100px;
  display: inline;
}
*/
header#main-header {
  margin-bottom: 20px;
}
header#main-header h1 {
  float: left;
  margin-top: 25px;
}
header#main-header h1 img {
  height: 134px;
  width: 197px;
}
header#main-header nav {
  float: right;
  margin-top: 58px;
  width: 205px;

}
nav li {
  float: left;

}
nav li.active {
  background: url(images/nav-arrow.png) no-repeat center bottom;
  padding-bottom: 11px;
}
nav a,
nav a:visited {
  color: #464646;
  display: block;
  font-family: Uni-Sans-Regular;
  font-size: 18px;
  margin: 0 15px;
  text-decoration: none;
}
nav a:hover {
  color: #f3792c;
}




/*#facebook-link span,
#twitter-link span{
  padding-left: 15px;
}
*/
/**************************************************
 * Phone 
 **************************************************/

#phone-video-container {
  position: relative;
  z-index: 0;
  display: none;
}
#phone-video-container #videoDiv {
  height: 330px;
  width: 500px;
}
#phone-video-container.peek {
  top: -10px;
  -webkit-transition: all .3s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
     -moz-transition: all .3s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
      -ms-transition: all .3s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
       -o-transition: all .3s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
          transition: all .3s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

.no-csstransitions #phone-video-container.peek {
  top: 0;
}

#phone-video-container.inside {
  height: 15px;
  -webkit-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
     -moz-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
      -ms-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
       -o-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
          transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

.no-csstransitions #phone-video-container.inside {}

#phone-video-container.outside {
  height: 337px;
  top: -10px;
  -webkit-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
     -moz-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
      -ms-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
       -o-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
          transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

.no-csstransitions #phone-video-container.outside {
  height: 30px;
  top: -10px;
}

#phone-video-container #phone {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 788px;
}
#phone-video-container.outside #phone {
  cursor: pointer;
}

#video-container {
  background-color: #000;
  position: absolute;
  left: 200px;
  top: 39px;
  z-index: 100;
}

#envelope-container {
  background: url(images/envelope.png) no-repeat top center;
  display: block;
  margin: 0 auto 80px;
  position: relative;
  z-index: 10;
}

#envelope-container.inside #clickable-area {
  cursor: pointer;
  height: 70px;
  width: 760px;
  position: absolute;
  left: 70px;
  top: -30px;
  z-index: 100;
}

#envelope-container.inside {
  min-height: 400px;
  -webkit-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
     -moz-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
      -ms-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
       -o-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
          transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
}
#envelope-container.outside {
  min-height: 235px;
  -webkit-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
     -moz-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
      -ms-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
       -o-transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
          transition: all .8s .1s cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

/*
 * Remove list style from mailchimp plugin rather than editing plugin itself
 */
.widget.widget_ns_mailchimp {
  list-style: none;
  height: 55px;
}
.widget.widget_ns_mailchimp p {
  font-family: Uni-Sans-Bold;
  font-size: 18px;
  color: #f3792c;
}
#magic-monkey .widget.widget_ns_mailchimp p {
}
footer .widget.widget_ns_mailchimp p {
  color: #ededed;
  padding-top: 5px;
  width: 175px;
}

.widget.widget_ns_mailchimp  input[type="submit"] {
  width: 160px;
  
  font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
  font-style: Uni-Sans-Regular, Verdana, sans-serif;
  color: #aaaaaa;
  font-size: 18px;
  border: 1px solid #b0b0b0;
  padding: 5px 5px;

  -webkit-box-shadow: 1px 1px 1px 0px rgba(153,153,153, .8) inset;
     -moz-box-shadow: 1px 1px 1px 0px rgba(153,153,153, .8) inset;
      -ms-box-shadow: 1px 1px 1px 0px rgba(153,153,153, .8) inset;
       -o-box-shadow: 1px 1px 1px 0px rgba(153,153,153, .8) inset;
          box-shadow: 1px 1px 1px 0px rgba(153,153,153, .8) inset;

  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
      -ms-border-radius: 7px;
       -o-border-radius: 7px;
          border-radius: 7px;
  behavior: url(/wp-content/themes/dekko/js/PIE/PIE.htc);
}
input:focus,
textarea:focus {
  color: #000000;
}
.widget.widget_ns_mailchimp  input[type="text"] {
  width: 150px;
}
.widget.widget_ns_mailchimp  input[type="submit"] {
  border: none;
  color: #5d5d5d;
  font-style: Uni-Sans-Bold, Verdana, sans-serif;

  line-height: 31px;

  text-shadow: 0px 1px 0px rgba(255,255,255,.8);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
  behavior: url(/wp-content/themes/dekko/js/PIE/PIE.htc);
}

/**************************************************
 * Magic Monkey Sign-up box
 **************************************************/
body.home #magic-monkey{
  display: block;
}
#magic-monkey .right {
  float: right;
  width: 48%;
  position: relative;

}
#magic-monkey .right p {
  width: 220px;
}
#magic-monkey .left {
  float: left;
  width: 48%;
}
#magic-monkey .right img,
#magic-monkey .right ul {
  float: left;
  clear: both;
}
#magic-monkey {
  background: #ffffff;
  display: none;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: 60px;
  width: 720px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(153,153,153, .8);
     -moz-box-shadow: 0 2px 5px 0 rgba(153,153,153, .8);
      -ms-box-shadow: 0 2px 5px 0 rgba(153,153,153, .8);
       -o-box-shadow: 0 2px 5px 0 rgba(153,153,153, .8);
          box-shadow: 0 2px 5px 0 rgba(153,153,153, .8);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
  behavior: url(/wp-content/themes/dekko/js/PIE/PIE.htc);
}
#magic-monkey #monkey-logo {
  float: left;
  position: absolute;
  top: 0;
  right: 0;
}
#magic-monkey a {
  font-size: 18px;
}
#magic-monkey h3 {
  font-family: Uni-Sans-Regular;
  font-size: 28px;
  margin: 20px 0 10px;
}
#magic-monkey h4 {
  color: #464646;
  float: left;
  line-height: 78px;
  margin-left: 5px;
  font-family: Uni-Sans-Regular;
  font-size: 18px;
}
#magic-monkey h5 {
  margin-bottom: 5px;
}
#magic-monkey p {
  font-size: 18px;
}
#magic-monkey label {
  display: none !important;
}

#magic-monkey .error {
  position: absolute;
  top: -15px;
  font-size: 11px;
  color: #464646;
}
#magic-monkey form {
  margin-top: 20px;
}

#magic-monkey input[type="text"] {
  position: relative;
  text-transform: lowercase;
  float: left;
  width: 

}
#magic-monkey input[type="submit"]{
  background: url(images/btn-beta-sign-up.png) no-repeat;
  width: 105px;
  float: left;
  height: 32px;
  line-height: 26px;
  position: relative;
  top: 3px;
  margin-left: 10px;
/*  top: 20px;
*/}

/**************************************************
 * article.posts, Posts, and Blog Entries
 **************************************************/
#content article.post,
.home.page #content article.post,
article.post #counts .buttons {
  background: #ffffff;
  clear: both;
  position: relative;
  left: 1px;
  top: 50px;
  z-index: 1000;
  width: 640px;
  margin: 0 auto 90px;
  padding: 40px 60px;
  -webkit-box-shadow: 0px 2px 5px 0 rgba(153,153,153, .8);
     -moz-box-shadow: 0px 2px 5px 0 rgba(153,153,153, .8);
      -ms-box-shadow: 0px 2px 5px 0 rgba(153,153,153, .8);
       -o-box-shadow: 0px 2px 5px 0 rgba(153,153,153, .8);
          box-shadow: 0px 2px 5px 0 rgba(153,153,153, .8);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
      -ms-border-radius: 8px;
       -o-border-radius: 8px;
          border-radius: 8px;
  behavior: url(/wp-content/themes/dekko/js/PIE/PIE.htc);
}

.single-post #content article.post,
.page #content article.post {
  margin: 0 auto 20px;
}

article.post header nav {
  position: relative;
  top: 13px;
}
article.post header nav li {
  float: left;
}
article.post #the-content {
  clear: both;
  padding-top: 10px;
}

article.post p {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 25px;
}
article.post p a,
article.post p a:visited {
  text-decoration: none;
}
article.post p a:hover {
  text-decoration: underline;
}
article.post a.full-story {
  position: relative;
  font-size: 17px;
  z-index: 20;
}
article.post img.alignnone {
  position: relative;
  left: -60px;
  width: 760px;
}
article.post header {
  margin-bottom: 10px;
  height: 40px;
}

article.post header h2 {
  display: inline;
  float: left;
  margin-right: 10px;
}
article.post header h2 a:hover {
  text-decoration: none;
}
article.post header time {
  color: #939393;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
}
article.post footer {
  clear: both;
  min-height: 30px;
  padding: 10px 0;
  border-top: 1px solid #d7d7d7;
  position: relative;
  z-index: 10;
}
article.post footer #counts {
  position: relative;
  float: right;
}
.uiGrid .vTop {
  display: block;
}
article.post footer #counts .buttons {
  position: absolute;
  top: 20px;
  right: -160px;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  padding: 5px;
  width: 133px;
  height: 22px;
  text-align: center;
}
article.post footer #counts div.count {
  float: left;
  margin-left: 10px;
}
article.post footer #counts .count {
  color:#eb7737;
  font-size: 17px;
  margin-right: 3px;
}
article.post footer #counts .comments .count {
  margin-right: 0;
}
article.post footer #counts a.share {
  color: #555555;
  font-size: 10px;
  text-transform: uppercase;
  position: relative;
  bottom: 1px;

}
article.post footer .comments {
  margin-top: 0;
}
article.post footer .comments a{
}
article.post footer .tags {
  position: absolute;
  top: 110px;
}
article.post .addthis_button_email {
  position: relative; 
  top: 46px;
}
.page-template-two-columns-php article.post h4 {
  margin-bottom: 5px;
}

.page-template-two-columns-php article.post h5 {
  display: inline;
}

.page-template-two-columns-php article.post h6 {
  font-family: Uni-Sans-Bold;
  font-size: 14px;
}
.page-template-two-columns-php article .col-left {
  float: left;
  width: 415px;
}
.page-template-two-columns-php article .col-right {
  float: right;
  width: 203px;
} 
.page-template-two-columns-php article .col-right p {
  font-size: 14px;
}
/** Press Page Styles **/
.page-template-two-columns-php .press article.post h5 {
  display: block;
  margin-left: 0;
  margin-bottom: 5px;
}
.page-template-two-columns-php .press article .col-left {
  float: left;
  width: 49%;
  margin-top: 40px;

}
.page-template-two-columns-php .press #the-content {
  border-bottom: 1px solid #dedede;
}
.page-template-two-columns-php .press .right-col a {
  font-size: 22px;
}
aside#sidebar {
  position: absolute;
  top: 220px;
  width: 135px;
  left: -80px;
}

aside#sidebar h5 {
  font-family: SugarPie;
  font-size: 20px;
  color: #7d7d7d;
}
#tag-listing {
  border-top: 3px solid #cfcfcf;
  padding: 10px 0;
}

#tag-listing span {
  margin-top: 5px;
}

#related {
  border-top: 3px solid #cfcfcf;
  padding: 10px 0;
}
#related li {
  list-style: none;
  padding: 5px 0;
}
#related li a:hover:after {
  content: '>';
}
#related a,
#related a:visited {
  color: #7d7d7d;
  font-size: 14px;
  text-decoration: none;
}
#related a:hover {
}
#related abbr {
  display: none;
}
.tags span {
  float: left;
  display: block;
  background: url(images/tag-left.png) no-repeat left;
  line-height: 20px;
  height: 20px;
}
.tags a,
.tags a:visited {
  background: url(images/tag-right.png) no-repeat right;
  color: #ffffff;
  float: left;
  font-size: 12px;
  font-family: Uni-Sans-SemiBold;
  display: block;

  margin: 0 5px 0 12px;
  padding: 0 10px 0 7px;

  line-height: 20px;
  height: 20px;
  text-shadow: 0 1px 1px rgba(0,0,0,.24);
}

/**************************************************
 * Comments
 **************************************************/
.blog .comments {
  position: relative;

}
.blog .bottomcontainerBox {
  position: relative;
}
.ie7.blog .bottomcontainerBox {
  top: 40px;
}
.comments {
  margin-top: 15px;
}
.comments article p {
 margin-bottom: 5px;
 color: #464646;
}
.comments time a,
.comments time a:visited {
  font-size: 14px;
}
/*.comments header cite,
.comments header .says,
.comments header .fn {
  position: relative;
  top: 10px;
}*/
.comments header {
  font-size: 18px;
}
.comments .comment {
  margin-top: 20px;
}
.comments #allowed_tags{
  font-size: 11px;
  line-height: 12px;
}
.comments ol {
  margin-left: 0px;
  list-style-position: inside;
}
.comments ol li {
  font-size: 30px;
  font-family: SugarPie;
}
.comments ol li article {
  font-family: Uni-Sans-Regular;
}
.comments ol li ul {
  padding-left: 25px;
  border-left: 5px solid #CFCFCF;
}
.comments ol li ul li {
  list-style: none;
}

#respond {
}
#respond textarea {
  width: 630px;
  max-width: 630px;
  min-width: 630px;
}
#commentform p {
  margin-bottom: 10px;
}
#commentform label {
  display: block;
}
#commentform input {
  width: 300px;
}
#commentform input[type="submit"] {
  width: 140px;
}
/* Line height adjustment for nonstandard font in IE */
.ie7 .tags a,
.ie7 .tags a:visited,
.ie8 .tags a,
.ie8 .tags a:visited {
  line-height: 18px;
}

.tags span:hover,
#tag-listing span {
  background: url(images/tag-left-hover.png) no-repeat left;
}
.tags span:hover a,
#tag-listing span a {
  background: url(images/tag-right-hover.png) no-repeat right;
  color: #9a6a3b;
  text-decoration: none;
}
.tags a:active {
  top: 0;
}
section.user {
  margin-top: 25px;
  position: relative;
}
section.user.first {
  margin-top: 0px;
}
section.author {
  position: relative;
  top: 15px;
}

section.user aside.avatar,
section.author aside.avatar {
  background: url(images/avatar-arrow.png) no-repeat right center;
  padding-right: 40px;
  position: absolute;
  left: -196px;
  top: -45px;
}
section#caroline-mizumoto aside.avatar {
   background: url(images/avatar-arrow.png) no-repeat right 40px;
  top: -40px;
}

section#huck-gee aside.avatar {
  top: -20px;
}

section.author .author-info {
  font-size: 14px;
  position: absolute;
  left: -210px;
  top: 70px;
  width: 140px;
}

/**************************************************
 * 404
 **************************************************/
.error404 #content article {
  height: 390px;
  padding: 40px;
  position: relative;
}
.error404 .background {
  position: absolute;
}
/* Not needed - using full bg
.large-text {
color: #f9af2d;
font-family: Uni-Sans-SemiBold;
font-size: 155px;
}
.aka {
color: #f9af2d;
font-size: 17px;
position: relative;
top: -45px;
left: 10px;
}
.monkey-figure {
 position: absolute;
left: 365px;
top: 100px;
}*/
.error404 .message {
 color: #464646;
 font-size: 17px;
 line-height: 21px;
 position: relative;
 top: 160px;
 left: 0px;
}
a.go-home,
a.go-home:visited {
  color: #464646;
  display: block;
  position: relative;
  top: 180px;
  left: -10px;
  font-family: Uni-Sans-SemiBold;
  font-size: 17px;
  height: 25px;
  line-height: 26px;
  padding-left: 30px;
  background: url(images/go-home-arrow.jpg) no-repeat left 0px;
}
/**************************************************
 * Main Footer
 **************************************************/
/************************************************** 
* Footer Social Navigation
*
* #twitter-link - twitter
* #facebook-link - facebook
**************************************************/
footer#footer nav#social {
  float: right;
  margin-top: 21px;
}
li#facebook-link,
li#twitter-link {
 /*text-indent: -9999px;*/
 position: relative;
 top: -3px;
}

#facebook-link a span,
#twitter-link a span {
 background-image: url(images/social_icons.png);
 background-repeat: no-repeat;
 height: 22px;
 width: 40px;
 display: inline-block;
}
#facebook-link a span {
 background-position: -45px 0;
}
#facebook-link a:hover span{
 background-position: -45px -30px;
}
#twitter-link a span {
 background-position: 0 0;
}
#twitter-link a:hover span{
 background-position: 0px -30px;
 }
footer#footer {
  background: url(images/footer-background.png) repeat-x;
  clear: both;
  height: 176px;
  position: relative;
  margin-top: 84px;
  z-index: 10;
  width: 100%;
  overflow-y: hidden;
}
footer#footer .container {
  /*background: url(image/footer-glare.png) no-repeat ce*/
  margin: 0 auto;
  width: 760px;
}
footer#footer nav {
  float: left;
  margin-top: 25px;
}
footer#footer nav li {
  float: left;
}
footer#footer nav li a,
footer#footer nav li a:visited {
  color: #c7c7c7;

  font-family: 'Uni-Sans-Regular', 'Verdana', 'Arial';
  font-size: 18px;
  margin: 0;
  padding: 0 0 0 14px;
  text-decoration: none;
}
footer#footer nav li a:hover {
  color:#F3792C;
}
footer#footer .widget.widget_ns_mailchimp {
  margin-top: 15px;
  float: right;
  width: 270px;
  clear: both;
}
footer#footer .widget.widget_ns_mailchimp input[type="text"] {
  background:#c7c7c7;
  color: #5e5e5e;
  float: left;
  position: relative;
  top: -2px;
  text-transform: lowercase;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0,0,0, .4) inset;
     -moz-box-shadow: 0 1px 2px 0px rgba(0,0,0, .4) inset;
      -ms-box-shadow: 0 1px 2px 0px rgba(0,0,0, .4) inset;
       -o-box-shadow: 0 1px 2px 0px rgba(0,0,0, .4) inset;
          box-shadow: 0 1px 2px 0px rgba(0,0,0, .4) inset;

}
.widget.widget_ns_mailchimp input[type="submit"] {
  background: url(images/btn-newsletter.png) no-repeat;
  width: 101px;
  height: 36px;
  float: right;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #000000;
  text-transform: lowercase;
}
.widget.widget_ns_mailchimp .error {
  position: absolute;
  bottom: -20px;
  color: #c7c7c7;
}
footer#footer .widget.widget_ns_mailchimp label {
  display: none !important;
}
/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }

  a, a:visited { color: #444 !important; text-decoration: underline; }

  a:after { content: " (" attr(href) ")"; } 

  abbr:after { content: " (" attr(title) ")"; }
  
  .ir a:after { content: ""; }  /* Don't show links for images */
  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  
  img { page-break-inside: avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3{ page-break-after: avoid; }
}

/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
}

