
    <center><div style="color:black;font-size:300%" >Your Recent Activity and Analytics</div></center>
    <br/>

    <h2>&#22296; Your list of subscribers</h2>
    <h2>&#22296; Geolocation of your subscribers</h2>
    <h2>&#22296; You had 332 visitors over the last 7 hour period</h2>
    <h2>&#22296; You had 113 conversions to sales from user activity on your assets</h2>
    <h2>&#22296; Your participants purchased $10000000.00 in virtual goods in the last 20 minutes</h2>


    <img src="http://www.psdgraphics.com/wp-content/uploads/2009/02/green-business-graph.jpg"></img>


