
    <div style="color:black;font-size:300%" >Welcome back <%= user_id %></div>
    <br/>

    <div style="font-size:1.5em">
    <h2>Your Key is: <%= devkey %></h2>
    </div>

    <!-- tools -->
    <br/>
    <div style="color:black;font-size:300%" >Analytics</div>
    <h2><a href="/profile/analytics">Analytics</a></h2>
    <br/>
    <br/>
    <br/>

    <div style="color:black;font-size:300%" >Latest Tools</div>
    <br/>
    <br/>
    <br/>

    <h2><a href="/profile/unitypackage">[ Dekko Unity Package Goes Here ]</a></h2>


