-locals.title = 'Recover your password'
article
  h1 Welcome home
  h3 Your developer key is #{devkey}

  h3 Recent activity on your app 

  for item in recent_activity
    - art = "https://graph.facebook.com/"+item.fbid+"/picture?type=small"
    img(src=art)
    #{item.email}
    #{item.name}
    br

