-locals.title = 'Recover your password'
article
  h1 Recover Your Password

  form(method="post", id="recover", action="/recover")
    .field.input
      label(for="email") Please enter your email address.
      - if(locals.user_message_status)
        input(type="email", name="email", id="email", class="invalid-input")
        .error-message We could not find your email address.</a>
      - else
        input(type="email", name="email", id="email")

    input(type="submit", value="recover", class="btn")

aside#sidebar

