<h1>Please enter your email and password to sign up or sign in</h1>
<form action="/profile/signin" method="post">
    <div style="font-size:1.5em">
    <div style="float:left;width:400px"><a href="hybrid_tracking">Email</a></div>       <input name="email"></input><br>
    <div style="float:left;width:400px"><a href="hybrid_tracking">Password</a></div>    <input name="password"></input><br>
    <div style="float:left;width:400px"><a href="hybrid_tracking">&nbsp</a></div>       <input type=submit></input><br>
    </div>
</form>

