-locals.title = 'Sign Up'
article
  h1 Sign Up

  form(method="post", id="login", action="/profile/sign-up")
    .field.input
      label(for="email") Your Email
      input(type="email", name="email", id="email")
    .field.input
      label(for="organization") Your Company / Organization
      input(type="organization", name="organization", id="organization")
    .field.input
      label(for="password") Password
      input(type="password", name="password", id="password")
    .field.input
      label(for="confirm_password") Confirm Password
      - if(locals.user_message_status)
        input(type="password", name="confirm_password", id="confirm_password", class="invalid-input")
        .error-message Please enter a valid email and password and make sure passwords match
      - else
        input(type="password", name="confirm_password", id="confirm_password")

    .field.checkbox
      input(type="checkbox", name="remember", id="remember", value="test")
      label(for="remember") Yes , I agree to Dekko's terms and conditions

    input(type="submit", value="sign up", class="btn")

