-locals.title = '404 - Page not found'
article
  img.background(src="/images/bg-404.jpg")
  .message
    | Looks like we can’t find what you need.<br/>
    | Monkey here tried to find it though. <br/>
    | Don’t worry. We’ll be taking a <br/>
    | look into why this happened.<br/>
  a.go-home(href="/") Go home