<h2>Developers</h2>

<table border-width=1 border-style=dashed cellpadding=3px style="border:3px solid red">
<% for(key in results) { %>
<tr> <% var obj = results[key]; for(name in obj) { %> <td><%= name %>&nbsp;&nbsp;</td> <% } %> </tr>
<tr> <% var obj = results[key]; for(name in obj) { %> <td><%= obj[name] %>&nbsp;&nbsp;</td> <% } %> </tr>
<% } %>
</table>

