-locals.title = 'Documentation & Tools'
article
  header.clearfix
    h1 DOCUMENTATION & TOOLS
  h3 Introduction
  p
    | Dekko provides a plug in framework for building location aware applications.
    | With Dekko you can build applications that are sensitive to real world features such as obstructions, geometry, terrain features. Games can take advantage of real world conditions. We provide our tool chain in a number of different ways - as an iOS SDK, as a Unity Package and as a web interface.
  p 
    | We provide [tracking], [mesh generation], [user accounts] and [analytics] in one of 3 ways.

  h3 Dekko Unity Package
  p
      | Our unity module builds on top of our SDK to provide 3d mesh support for unity. These meshes can interact with game physics.
  ul
    li
      a(title="Dekko Unity Package Introduction", href="TODO") Dekko Unity Package Introduction
    li
      a(title="Dekko Unity Package Tutorial", href="TODO") Dekko Unity Package Tutorial
    li
      a(title="Dekko Unity Package Reference", href="TODO") Dekko Unity Package Reference

  h3 Dekko SDK
  p
    | The Dekko SDK is the best way to support physical and natural interaction with augmented reality. Our SDK insulates you from dealing with the API directly. It provides a link library with header files and public method interfaces to invoke Dekko features such as determining feature scale of real world features and 3d mesh generation of the real world. We support SLAM ( Simultaneous Localization and Mapping) and also do sensor fusion using inertial sensors to determine feature scale
  ul
    li
      a(title="Dekko SDK Package Introduction", href="TODO") Dekko SDK Package Introduction
    li
      a(title="Dekko SDK Package Tutorial", href="TODO") Dekko SDK Package Tutorial
    li
      a(title="Dekko SDK Package Reference", href="TODO") Dekko SDK Package Reference

  h3 Dekko Web API
  p
    | Our web api can be used directly or you can use our SDK. The Web API converts a set of images into a 3d model. You can feed it raw images o r a list of key features recognized by FAST for example. You can also get analytics data on users and their activity in your app.
  ul
    li
      a(title="Dekko API Package Introduction", href="TODO") Dekko API Package Introduction
    li
      a(title="Dekko API Package Tutorial", href="TODO") Dekko API Package Tutorial
    li
      a(title="Dekko API Package Reference", href="TODO") Dekko API Package Reference
//- --------------
  Sidebar
//- --------------
aside#sidebar
  p 
    | Sign up to download <br> our documents & tools
  nav
    h3 Downloads
    ul
      li
        a(title="Download 1", href="TODO") Download 1
      li
        a(title="Download 2", href="TODO") Download 2
  nav
    h3 Support
    ul
      li
        a(title="FAQ", href="TODO") FAQ
      li
        a(title="Feedback", href="TODO") Feedback form