-locals.title = 'Features'
article
    nav
        h1 Features
        ul
            li.works_anywhere
                a(title="works anywhere", href="/features/anywhere") works anywhere
            li.feels_natural
                a(title="feels natural", href="/features/natural") feels natural
            li.cloud_platform
                a(title="cloud platform", href="/features/cloud") cloud platform
