-locals.title = 'Home'
article.clearfix
  section#works-anywhere
    h2 WORKS ANYWHERE
    p Play anywhere. No markers!
  section#feels-natural
    h2 FEELS NATURAL
    p Natural gesture detection
    p Natural ways to interact 
    p Characters can colide with the real world
  section#cloud-platform
    h2 CLOUD PLATFORM
    p Analytics
    p User Account Management
