-locals.title = 'Home'
article.clearfix
    section#works-anywhere
        h2 WORKS ANYWHERE
        p Play anywhere. No markers!
        a(title="Learn more...", href="TODO") Learn more...
    section#feels-natural
        h2 FEELS NATURAL
        p Natural gesture detection
        p Natural ways to interact 
        p Characters can colide with the real world
        a(title="Learn more...", href="TODO") Learn more...
    section#cloud-platform
        h2 CLOUD PLATFORM
        p Analytics
        p User Account Management
        a(title="Learn more...", href="TODO") Learn more...