-locals.title = 'Support'
article
  header.clearfix
    h1 SUPPORT
  h3 Our Support Community
  p
    | Dekko provides a plug in framework for building location aware applications.
    | With Dekko you can build applications that are sensitive to real world features such as obstructions, geometry, terrain features. Games can take advantage of real world conditions. We provide our tool chain in a number of different ways - as an iOS SDK, as a Unity Package and as a web interface.
  p We provide [tracking], [mesh generation], [user accounts] and [analytics] in one of 3 ways.

  h3 FAQ
  p
      | What is Dekko?
  p
      | How do I install Dekko?
  p
      | How do I get a key?

//- --------------
  Sidebar
//- --------------
aside#sidebar
  p 
    | Sign up to download <br> our documents & tools
  nav
    h3 Downloads
    ul
      li
        a(title="Download 1", href="TODO") Download 1
      li
        a(title="Download 2", href="TODO") Download 2
  nav
    h3 Support
    ul
      li
        a(title="FAQ", href="TODO") FAQ
      li
        a(title="Feedback", href="TODO") Feedback form