
/* line 1 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 4 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 9 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
audio:not([controls]) {
  display: none;
}

/* line 12 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
[hidden] {
  display: none;
}

/* line 15 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 20 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
html,
button,
input,
select,
textarea {
  font-family: Uni-Sans-Regular, Verdana, sans-serif;
  color: #222;
}

/* line 24 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 29 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
a {
  color: #00e;
}

/* line 32 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
a:visited {
  color: #551a8b;
}

/* line 35 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
a:hover {
  color: #06e;
}

/* line 38 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
a:focus {
  outline: thin dotted;
}

/* line 41 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
a:hover,
a:active {
  outline: 0;
}

/* line 44 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 47 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
b,
strong {
  font-weight: bold;
}

/* line 50 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
blockquote {
  margin: 1em 40px;
}

/* line 53 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
dfn {
  font-style: italic;
}

/* line 56 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 64 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 69 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 75 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 80 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
q {
  quotes: none;
}

/* line 87 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
q:before,
q:after {
  content: none;
}

/* line 90 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
small {
  font-size: 85%;
}

/* line 93 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 99 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
sup {
  top: -0.5em;
}

/* line 102 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
sub {
  bottom: -0.25em;
}

/* line 105 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 109 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
dd {
  margin: 0 0 0 40px;
}

/* line 112 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 118 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 123 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
svg:not(:root) {
  overflow: hidden;
}

/* line 126 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
figure {
  margin: 0;
}

/* line 129 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
form {
  margin: 0;
}

/* line 132 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 137 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
label {
  cursor: pointer;
}

/* line 140 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 146 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 152 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
button,
input {
  line-height: normal;
}

/* line 155 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 160 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 163 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 169 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 175 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 178 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 182 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 187 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

/* line 192 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 196 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
td {
  vertical-align: top;
}

/* line 199 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 216 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
::-moz-selection {
  background: #7ba845;
  color: #fff;
  text-shadow: none;
}

/* line 221 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
::selection {
  background: #7ba845;
  color: #fff;
  text-shadow: none;
}

/* line 227 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body {
  font-size: 17px;
}

/* line 230 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
h1,
h2,
h3,
h4,
h5,
h6,
h4 {
  font-weight: 400;
}

/* line 233 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
h1 {
  font-family: 'Uni-Sans-Book';
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}

/* line 238 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body {
  color: #464646;
  font-family: Uni-Sans-Regular, Verdana, sans-serif;
}

/* line 241 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */

/* line 243 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.login h1,
body.signup h1 {
  color: #000;
  font-family: 'Uni-Sans-Regular';
}

/* line 246 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
h2 {
  font-family: 'Uni-Sans-Book';
  font-size: 28px;
  margin-top: 35px;
  margin-bottom: 10px;
}

/* line 251 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
h3,
h4 {
  color: #464646;
  font-family: 'Uni-Sans-Bold';
  font-size: 18px;
  margin: 25px 0 0;
}

/* line 256 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
h4 {
  font-size: 14px;
}

/* line 261 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
a,
a:visited {
  color: #7ba845;
  text-decoration: none;
}

/* line 264 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
a:hover {
  color: #7ba845;
  text-decoration: underline;
}

/* line 267 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
a:active {
  position: relative;
  top: 1px;
}

/* line 272 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
form#login,
form#signup,
form#recover {
  margin-top: 45px;
}

/* line 277 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */

/* line 278 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
form#recover label,
form#recover input {
  margin-left: 55px;
}

/* line 281 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
form#recover label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  width: 400px;
}

/* line 286 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
form#recover .error-message {
  left: 55px;
  top: 60px;
}

/* line 291 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.field {
  margin-bottom: 35px;
  position: relative;
}

/* line 294 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.field label {
  display: inline-block;
}

/* line 296 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */

/* line 297 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.field.input label {
  width: 135px;
  margin-right: 10px;
  text-align: right;
}

/* line 301 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.field.checkbox {
  margin-top: 70px;
}

/* line 303 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.field.checkbox label {
  color: #000;
  margin-left: 10px;
}

/* line 307 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */

/* line 308 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
input[type="text"],
input[type="email"],
input[type="password"] {
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #b2b2b2;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.60) inset;
  -moz-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.60) inset;
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.60) inset;
  height: 27px;
  line-height: 26px;
  outline: none;
  padding: 0 5px;
  width: 310px;
}

/* line 320 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
input.invalid-input {
  border-width: 2px;
  border-color: #c84637;
}

/* line 323 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
input:focus {
  border-color: #7ba845;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.60) inset;
  -moz-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.60) inset;
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.60) inset;
}

/* line 326 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
input[type="submit"],
input[type="checkbox"] {
  margin-left: 145px;
}

/* line 331 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.error-message {
  color: #c84637;
  position: absolute;
  left: 145px;
  top: 35px;
}

/* line 339 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.btn {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6f6f6f), color-stop(1, #474747));
  background: -webkit-linear-gradient(top, #6f6f6f 0%, #474747 100%);
  background: -moz-linear-gradient(top, #6f6f6f 0%, #474747 100%);
  background: linear-gradient(top, #6f6f6f 0%, #474747 100%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #6f6f6f;
  color: #f0f0f0;
  font-size: 18px;
  height: 30px;
  line-height: 26px;
  padding: 0 30px;
  text-shadow: 0 1px 1px #000;
  text-transform: lowercase;
}

/* line 350 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.btn:hover {
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.40);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.40);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.40);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #898989), color-stop(1, #616161));
  background: -webkit-linear-gradient(top, #898989 0%, #616161 100%);
  background: -moz-linear-gradient(top, #898989 0%, #616161 100%);
  background: linear-gradient(top, #898989 0%, #616161 100%);
}

/* line 353 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.btn:active {
  position: relative;
  top: 1px;
}

/* line 358 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body {
  background: url("/images/background.png") repeat;
}

/* line 363 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.container {
  margin: 0 auto;
  width: 1000px;
}

/* line 366 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */

/* line 367 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.container#main header#main-header {
  margin: 20px 0;
}

/* line 369 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.container#main header#main-header .logo {
  float: left;
}

/* line 371 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.container #content {
  background: url("/images/bg-content.png") repeat #fff;
  clear: both;
  width: 940px;
  margin-left: 60px;
  position: relative;
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.35);
  box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.35);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/* line 379 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.container #content > article {
  padding: 60px 0 60px 60px;
  float: left;
  width: 535px;
}

/* line 383 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.container #content > article > header > h1 {
  float: left;
}

/* line 385 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.container #content > article p {
  margin-top: 5px;
}

/* line 387 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.container #content aside#sidebar {
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  float: right;
  padding: 70px 30px 70px;
  width: 245px;
}

/* line 392 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */

/* line 393 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.container #content aside#sidebar > p:first-child,
.container #content aside#sidebar > h3:first-child {
  margin-top: 0;
}

/* line 395 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
.container #content .sign-up {
  position: absolute;
  top: 15px;
  right: -125px;
}

/* line 402 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
nav.horiz {
  float: right;
  margin-top: 30px;
}

/* line 405 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
nav.horiz li {
  float: left;
  margin-left: 20px;
}

/* line 408 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
nav.horiz a,
nav.horiz a:visited {
  color: #464646;
  display: block;
  font-size: 18px;
  text-decoration: none;
}

/* line 413 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
nav.horiz a:hover,
nav.horiz a:visited:hover {
  color: #7ba845;
}

/* line 416 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
#content > article > header nav {
  float: left;
  margin-top: 13px;
}

/* line 422 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */

/* line 423 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.home #content {
  padding-top: 370px;
  background: url("/images/home-header.jpg") no-repeat top center #fff;
}

/* line 426 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.home #content article {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #fff;
  margin: -5px 0 0;
  padding: 10px 0;
  width: 100%;
  float: none;
}

/* line 434 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.home #content article section {
  position: relative;
  background: url("/images/sprite-home.png") no-repeat;
  float: left;
  height: 260px;
}

/* line 439 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.home #content article section h2 {
  line-height: 60px;
  margin: 0 0 -10px;
  font-family: Uni-Sans-Regular;
  font-size: 22px;
}

/* line 444 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.home #content article section p {
  font-size: 18px;
  margin: 0;
}

/* line 447 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.home #content article section#works-anywhere {
  background-position: 15px 0px;
  border-right: 1px solid #dfdfdf;
  padding: 0 55px 0 75px;
  width: 210px;
  z-index: 1;
}

/* line 453 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.home #content article section#feels-natural {
  background-position: -275px 0px;
  border-right: 1px solid #dfdfdf;
  margin-left: -58px;
  padding: 0 20px 0 100px;
  width: 250px;
  z-index: 2;
}

/* line 460 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.home #content article section#cloud-platform {
  background-position: -610px 0px;
  margin-left: -35px;
  padding: 0 0 0 70px;
  width: 205px;
  z-index: 3;
}

/* line 466 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.home footer#news {
  background-color: #7ba845;
  -webkit-box-shadow: 0px 1px 5px 0 rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 1px 5px 0 rgba(0,0,0,0.35);
  box-shadow: 0px 1px 5px 0 rgba(0,0,0,0.35);
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 100px;
  margin-top: -90px;
  margin-left: 61px;
  position: relative;
  width: 936px;
}

/* line 475 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.home footer#news img {
  margin-top: 40px;
  margin-left: 20px;
}

/* line 478 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.home footer#news #show-footer {
  background: #7ba845;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid #7ba845;
  -webkit-box-shadow: 0px 3px 4px 0 rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 3px 4px 0 rgba(0,0,0,0.35);
  box-shadow: 0px 3px 4px 0 rgba(0,0,0,0.35);
  bottom: -30px;
  right: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px 0 40px;
  position: absolute;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.35);
}

/* line 494 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */

/* line 495 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.features .features-text {
  background: url("/images/big-world.jpg") no-repeat top right;
  padding-right: 250px;
}

/* line 498 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */

/* line 499 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.features aside#sidebar nav.sidenav {
  margin-top: 40px;
}

/* line 501 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.features aside#sidebar nav.sidenav div.subpage {
  margin-bottom: 20px;
}

/* line 503 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.features aside#sidebar nav.sidenav div.subpage .icon {
  background: url("/images/sprite-features.png") no-repeat;
  float: left;
  height: 60px;
  width: 60px;
}

/* line 508 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.features aside#sidebar nav.sidenav div.subpage .text {
  float: left;
  margin-left: 10px;
}

/* line 511 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.features aside#sidebar nav.sidenav div.subpage .text h3 {
  margin: 10px 0 0 0;
}

/* line 513 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.features aside#sidebar nav.sidenav div.subpage .text p {
  margin: 0;
}

/* line 516 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */

/* line 517 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.features aside#sidebar nav.sidenav div.subpage.works-anywhere .icon {
  background-position: 0 0;
}

/* line 519 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */

/* line 520 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.features aside#sidebar nav.sidenav div.subpage.feels-natural .icon {
  background-position: -87px 0;
}

/* line 522 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */

/* line 523 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.features aside#sidebar nav.sidenav div.subpage.cloud-platform .icon {
  background-position: -175px 0;
}

/* line 527 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */

/* line 528 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.error-404 #content {
  background: #fff;
}

/* line 530 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.error-404 #content article {
  height: 390px;
  padding: 120px 100px 50px 130px;
  position: relative;
}

/* line 534 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.error-404 #content article .background {
  position: absolute;
}

/* line 536 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.error-404 #content article .message {
  color: #464646;
  font-size: 17px;
  line-height: 21px;
  position: relative;
  top: 160px;
  left: 8px;
}

/* line 543 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
body.error-404 #content article a.go-home,
body.error-404 #content article a.go-home:visited {
  color: #464646;
  display: block;
  position: relative;
  top: 180px;
  left: -10px;
  font-family: Uni-Sans-SemiBold;
  font-size: 17px;
  height: 25px;
  line-height: 26px;
  padding-left: 30px;
  background: url("/images/go-home-arrow.jpg") no-repeat left 0px;
}

/* line 558 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
#content {
  position: relative;
  z-index: 10;
}

/* line 561 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
#content footer#news {
  position: relative;
  z-index: 5;
}

/* line 564 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
#content footer#news #show-footer {
  position: absolute;
  z-index: 1;
}

/* line 569 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
@media only screen and (min-width: 35em) {

/* line 570 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  .ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    *line-height: 0;
  }

/* line 581 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  .ir br {
    display: none;
  }

/* line 584 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  .hidden {
    display: none;
    visibility: hidden;
  }

/* line 588 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

/* line 598 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

/* line 606 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  .invisible {
    visibility: hidden;
  }

/* line 609 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }

/* line 613 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  .clearfix:after {
    clear: both;
  }

/* line 616 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  .clearfix {
    *zoom: 1;
  }
}

/* line 619 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
@media print {

/* line 620 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  * {
    background: transparent;
    color: #000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    filter: none;
    -ms-filter: none;
  }

/* line 628 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  a,
  a:visited {
    text-decoration: underline;
  }

/* line 631 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  a[href]:after {
    content: " (" attr(href) ")";
  }

/* line 634 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

/* line 637 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

/* line 640 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

/* line 644 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  thead {
    display: table-header-group;
  }

/* line 647 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  tr,
  img {
    page-break-inside: avoid;
  }

/* line 650 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  img {
    max-width: 100%;
  }

/* line 653 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  @page {
    margin: 0.5cm;
  }

/* line 656 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

/* line 660 : /Users/anthonysessa/Sites/clients/code/developer.dekko.co/public/css/style.css */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
