article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
  display: block

audio, canvas, video
  display: inline-block
  *display: inline
  *zoom: 1

audio:not([controls])
  display: none

[hidden]
  display: none

html
  font-size: 100%
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

html, button, input, select, textarea
  font-family: Uni-Sans-Regular, Verdana, sans-serif
  color: #222

body
  margin: 0
  font-size: 1em
  line-height: 1.4

a
  color: #00e

a:visited
  color: #551a8b

a:hover
  color: #06e

a:focus
  outline: thin dotted

a:hover, a:active
  outline: 0

abbr[title]
  border-bottom: 1px dotted

b, strong
  font-weight: bold

blockquote
  margin: 1em 40px

dfn
  font-style: italic

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

ins
  background: #ff9
  color: #000
  text-decoration: none

mark
  background: #ff0
  color: #000
  font-style: italic
  font-weight: bold

pre, code, kbd, samp
  font-family: monospace, serif
  _font-family: 'courier new', monospace
  font-size: 1em

pre
  white-space: pre-wrap
  word-wrap: break-word

q
  quotes: none

q:before, q:after
  content: none

small
  font-size: 85%

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

ul, ol
  margin: 1em 0
  padding: 0 0 0 40px

dd
  margin: 0 0 0 40px

nav ul, nav ol
  list-style: none
  list-style-image: none
  margin: 0
  padding: 0

img
  border: 0
  -ms-interpolation-mode: bicubic
  vertical-align: middle

svg:not(:root)
  overflow: hidden

figure
  margin: 0

form
  margin: 0

fieldset
  border: 0
  margin: 0
  padding: 0

label
  cursor: pointer

legend
  border: 0
  *margin-left: -7px
  padding: 0
  white-space: normal

button, input, select, textarea
  font-size: 100%
  margin: 0
  vertical-align: baseline
  *vertical-align: middle

button, input
  line-height: normal

button, input[type="button"], input[type="reset"], input[type="submit"]
  cursor: pointer
  -webkit-appearance: button
  *overflow: visible

button[disabled], input[disabled]
  cursor: default

input[type="checkbox"], input[type="radio"]
  box-sizing: border-box
  padding: 0
  *width: 13px
  *height: 13px

input[type="search"]
  -webkit-appearance: textfield
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button
  -webkit-appearance: none

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

textarea
  overflow: auto
  vertical-align: top
  resize: vertical

input:valid, textarea:valid

input:invalid, textarea:invalid
  background-color: #f0dddd

table
  border-collapse: collapse
  border-spacing: 0

td
  vertical-align: top

.chromeframe
  margin: 0.2em 0
  background: #ccc
  color: black
  padding: 0.2em 0

// App Imports

// Begin App Styles

//// Color Variables
green      = #7ba845
dark_grey  = #464646
light_grey = #dfdfdf
yellow     = #fbf4ec
red        = #c84637

::-moz-selection
  background: green
  color: #fff
  text-shadow: none

::selection
  background: green
  color: #fff
  text-shadow: none

//// Typography
body 
  font-size 17px

h1,h2,h3,h4,h5,h6
  font-weight: 400

h1
  font-family: 'Uni-Sans-Book'
  text-transform: uppercase
  font-size: 30px
  margin: 0
body
  color: #464646
  font-family: Uni-Sans-Regular, Verdana, sans-serif
  &.login
  &.signup
   h1
    color: black
    font-family: 'Uni-Sans-Regular'
h2
  font-family: 'Uni-Sans-Book'
  font-size: 28px
  margin-top: 35px
  margin-bottom: 10px
h3
  color: dark_grey
  font-family: 'Uni-Sans-Bold'
  font-size: 18px
  margin: 25px 0 0
h4
  @extend h3
  font-size: 14px

//// Links
a,a:visited
  color: green
  text-decoration: none
a:hover
  color: green
  text-decoration: underline
a:active
  position relative
  top 1px

//// Forms
form#login,
form#signup,
form#recover
  margin-top: 45px

form#recover
  label,
  input
    margin-left: 55px
  label
    display: block
    margin-bottom: 5px
    text-align: left
    width: 400px
  .error-message
    left: 55px
    top: 60px

//// inputs
.field
  margin-bottom: 35px
  position: relative
  label
    display: inline-block
  &.input
    label
      width: 135px
      margin-right: 10px
      text-align: right
  &.checkbox
    margin-top: 70px
    label
      color: black
      margin-left: 10px

input
  &[type="text"]
  &[type="email"]
  &[type="password"]
    background: #ffffff
    border-radius: 6px
    border: 1px solid #b2b2b2
    box-shadow: 0px 1px 3px 0 rgba(0,0,0, .6) inset
    height: 27px
    line-height: 26px
    outline: none
    padding: 0 5px
    width: 310px
    behavior: url(/js/PIE/PIE.htc);
  &.invalid-input
    border-width: 2px
    border-color: red
  &:focus
    border-color: green
    box-shadow: 0px 1px 3px 0 rgba(0,0,0, .6) inset
  &[type="submit"]
  &[type="checkbox"]
    margin-left: 145px // label width + margin

////// inputs > Errors (Validation)
.error-message
  color: red
  position: absolute
  left: 145px // label width + margin
  top: 35px // input box + spacing

////// inputs > button styles

.btn
  background: #474747
  background: linear-gradient(top, #6f6f6f, #474747)
  border-radius: 6px
  border: 1px solid #6f6f6f
  color: #f0f0f0
  font-size: 18px
  height: 30px
  line-height: 26px
  padding: 0 30px
  text-shadow: 0 1px 1px black
  text-transform: lowercase
  behavior: url(/js/PIE/PIE.htc);
  &:hover
    box-shadow: 1px 1px 2px rgba(153,153,153, .8)
    background: linear-gradient(top, lighten(#6f6f6f, 10), lighten(#474747, 10))
  &:active
    position: relative
    top: 1px

//// layout
body
  background: url(/images/background.png) repeat


////// layout > General padding and structure (home gets separate styles)
.container
  margin 0 auto
  width 1000px
  &#main
    height: auto
    min-height: 100%
    header#main-header
      padding: 20px 0
      .logo
        float: left
  #content
    background: url(/images/bg-content.png) repeat-y #ffffff
    clear: both
    width: 940px
    margin-left: 60px
    margin-bottom: 60px
    position: relative
    box-shadow: 0px 2px 5px 0 rgba(153,153,153, .8)
    border-radius: 8px
    behavior: url(/js/PIE/PIE.htc);
    > article
      padding: 60px 0 60px 60px
      float: left;
      width: 535px
      > header > h1
        float: left
      p
        margin-top: 5px
    aside#sidebar
      border-radius: top right 8px
      float: right
      padding: 70px 30px 70px
      width: 245px
      > p, > h3
        &:first-child
          margin-top: 0
    .sign-up
      position: absolute
      top: 15px;
      right: -125px;

//// footer
html,
body
    height: 100%
.push
  padding-bottom: 175px
footer#main-footer
  background: url(/images/bg-footer.png) repeat-x
  margin-top: -175px
  position: relative
  clear: both
  height: 175px
  nav
    float: left
    margin-top: 20px
    font-size: 18px
    li
      a
        color: light_grey
        &:hover
          color: green
  nav#social
    float: right
    margin-top: 20px
    li
      float: left
      position: relative
      top: -3px
      a
        &:hover
          text-decoration: none
        span
          background-image: url(/images/social-icons.png)
          background-repeat: no-repeat
          height: 22px
          width: 40px
          display: inline-block

      &#facebook-link
        a
          span
            background-position: -45px 0;
        a:hover
          span
            background-position: -45px -30px
      &#twitter-link
        a
          span
            background-position: 0 0
        a:hover
          span
            background-position: 0 -30px

//// horizontal navigation
nav.horiz
  float: right
  margin-top: 30px
  li
    float: left
    margin-left: 20px
  a,a:visited
    color: #464646
    display: block
    font-size: 18px
    text-decoration: none
    &:hover
      color: green

#content > article > header nav
  float: left
  margin-top: 13px


//// [page] home 
body.home
  #content
    padding-top 370px
    background url(/images/home-header.jpg) no-repeat top center #ffffff;
    article
      border-radius: top 6px
      border-radius: bottom 8px
      background: #ffffff
      margin: -5px 0 0
      padding: 10px 0
      width: 100%
      float: none
      section
        position: relative
        background: url(/images/sprite-home.png) no-repeat
        float: left
        height: 260px
        h2
          line-height: 60px
          margin: 0 0 -10px
          font-family: Uni-Sans-Regular
          font-size: 22px
        p
          font-size: 18px
          margin: 0
        &#works-anywhere
          background-position: 15px 0px
          border-right: 1px solid light_grey
          padding: 0 55px 0 75px
          width: 210px
          z-index: 1
        &#feels-natural
          background-position: -275px 0px
          border-right: 1px solid light_grey
          margin-left: -58px
          padding: 0 20px 0 100px
          width: 250px
          z-index: 2
        &#cloud-platform
          background-position: -610px 0px
          margin-left: -35px
          padding: 0 0 0 70px
          width: 205px
          z-index: 3
  footer#news
    background-color: green;
    box-shadow: 0px 1px 5px 0 rgba(0,0,0,.35)
    border-radius: bottom 8px
    height: 100px;
    margin-top: -150px
    margin-left: 61px;
    margin-bottom: 60px
    position: relative
    width: 936px;
    behavior: url(/js/PIE/PIE.htc);
    img
      margin-top: 40px
      margin-left: 20px
    #show-footer
      background: green
      border-radius: bottom 6px
      border-top: 1px solid green
      box-shadow: 0px 3px 4px 0 rgba(0,0,0,.35)
      bottom: -30px;
      right: 20px;
      color: white
      cursor: pointer
      display: inline-block
      height: 30px
      line-height: 30px
      padding: 0 20px 0 40px
      position: absolute
      text-shadow: 1px 1px 1px rgba(0,0,0,.35)
      behavior: url(/js/PIE/PIE.htc);

//// [page] features  
body.features
  .features-text
    background: url(/images/big-world.jpg) no-repeat top right
    padding-right: 250px
  aside#sidebar
    nav.sidenav
      margin-top: 40px
      div.subpage
        margin-bottom: 20px
        .icon
          background: url(/images/sprite-features.png) no-repeat
          float: left
          height: 60px
          width: 60px
        .text
          float: left
          margin-left: 10px
          h3
            margin: 10px 0 0 0
          p
            margin: 0

        &.works-anywhere
          .icon
            background-position: 0 0          
        &.feels-natural
          .icon
            background-position: -87px 0
        &.cloud-platform
          .icon
            background-position: -175px 0

//// [page] 404 //TODO update once error handling is done
body.error-404
  #content
    background: white
    article
      height: 390px
      padding: 120px 100px 50px 130px
      position: relative
      .background
        position: absolute
      .message
        color: #464646
        font-size: 17px
        line-height: 21px
        position: relative
        top: 160px
        left: 8px
      a.go-home,
      a.go-home:visited
        color: #464646
        display: block
        position: relative
        top: 180px
        left: -10px
        font-family: Uni-Sans-SemiBold
        font-size: 17px
        height: 25px
        line-height: 26px
        padding-left: 30px
        background: url(/images/go-home-arrow.jpg) no-repeat left 0px
      
// z-index globals
#content
  position: relative
  z-index: 10
  footer#news
    position: relative
    z-index: 5
    #show-footer
      position: absolute
      z-index: 1
// End App Styles

// @media only screen and (min-width: 35em)


.ir
  display: block
  border: 0
  text-indent: -999em
  overflow: hidden
  background-color: transparent
  background-repeat: no-repeat
  text-align: left
  direction: ltr
  *line-height: 0

.ir br
  display: none

.hidden
  display: none
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

.invisible
  visibility: hidden

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

/*
@media print
  *
    background: transparent
    color: black
    box-shadow: none
    text-shadow: none
    filter: none
    -ms-filter: none

  a, a:visited
    text-decoration: underline

  a[href]:after
    content: " (" attr(href) ")"

  abbr[title]:after
    content: " (" attr(title) ")"

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after
    content: ""

  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid

  thead
    display: table-header-group

  tr, img
    page-break-inside: avoid

  img
    max-width: 100%

  @page
    margin: 0.5cm

  p, h2, h3
    orphans: 3
    widows: 3

  h2, h3
    page-break-after: avoid
*/