   
    <center><div style="color:black;font-size:300%" >Dekko provides powerful core benefits</div></center>
    <br/>

    <div style="background-color:#d0d0d0;border:1px solid black;height:200px;margin:8px">
    <h2><a href="/benefits/works_anywhere">Works Anywhere</a></h2>
    <br>
    <h3> o [Words go here]</h3>
    <h3> o [Words go here]</h3>
    <h3> o [Words go here]</h3>
    <h3> o [Words go here]</h3>
    </div>
    <div style="background-color:#d0d0d0;border:1px solid black;height:200px;margin:8px">
    <h2><a href="/benefits/natural_interaction">Natural Interaction</a></h2>
    <br>
    <h3> o [Words go here]</h3>
    <h3> o [Words go here]</h3>
    <h3> o [Words go here]</h3>
    <h3> o [Words go here]</h3>
    </div>
    <div style="background-color:#d0d0d0;border:1px solid black;height:200px;margin:8px">
    <h2><a href="/benefits/cloud_platform">Cloud Platform</a></h2>
    <br>
    <h3> o [Words go here]</h3>
    <h3> o [Words go here]</h3>
    <h3> o [Words go here]</h3>
    <h3> o [Words go here]</h3>
    </div>
    </center>

