
<h2>SDK Reference</h2>

The Dekko SDK consists of these exposed methods:

<ul>
<li>dekko_start</li>
<li>dekko_stop</li>
<li>dekko_get_mesh</li>
<li>dekko_get_down</li>
<li>dekko_get_camera_pose</li>
<li>dekko_project_to_screen</li>
<li>dekko_project_to_world</li>
</ul>


